@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 2

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.main-header
	position: fixed
	width: 100%
	left: 0
	top: 0

.main-header
	background-color: rgba(0,0,0,.64)
	padding: 25px 0
	z-index: 2
	.container
		position: relative

.main-nav
	&:after
		content: ''
		display: table
		clear: both
	padding: 10px 0	
	.main-ul
		float: right
		li
			float: left
			a
				color: #fff
				font-size: 15px
				position: relative
				padding: 6px 21px
				display: block
				font-family: 'Roboto', sans-serif
				font-weight: 800
				text-transform: uppercase
				transition: all .25s esase
			&.active
				a
					color: #dd163b
			&:hover
				a
					color: #dd163b
.auth-ul
	position: absolute
	right: 30px
	bottom: 100%
	li
		display: inline-block
.footer-nav
	&:after
		content: ''
		display: table
		clear: both
	.footer-ul
		float: right
		li
			a
				text-align: right
				color: #fff
				font-size: 15px
				position: relative
				padding: 6px 10px
				display: block
				font-family: 'Roboto', sans-serif
				font-weight: 800
				text-transform: uppercase
				transition: all .25s esase
			&.active
				a
					color: #dd163b
			&:hover
				a
					color: #dd163b
#main-footer
	background-color: rgba(17,22,25,.8)
	padding: 40px 0 30px
	margin-top: 30px

.form-control 
	display: block
	width: 100%
	padding: 6.5px 10px
	font-size: 1em
	font-weight: 400
	line-height: 1.25
	color: #464a4c
	background-color: transparent
	background-image: none
	border: 1px solid #313d46
	border-radius: 0
	transition: all .15s ease
	&.input-contact
		margin-bottom: 15px
	&:focus
		background-color: transparent
		border-color: #dd163b
		color: #fff
		box-shadow: none
	&:active
		background-color: transparent
		border-color: #dd163b
		color: #fff
		box-shadow: none


.btn 
	border: 0
	padding: 9px 19px
	font-size: 13px
	font-weight: 700
	line-height: 1.2
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	transition: .15s all
	display: inline-block
	text-align: center
	font-family: 'Roboto', sans-serif
	font-weight: bold
	text-transform: uppercase
	.btn-rounded 
		border-radius: 4px

.footer-news
	position: relative
	margin-bottom: 15px
	.news-link
		display: inline-block
		color: #fff
		transition: all .15s ease
		&:hover
			color: #dd163b
	.nk-post-image
		float: left
		width: 90px
		img
			width: 100%
			height: auto
	.footer-news-wrapper
		padding-left: 105px
		font-size: 14px
		font-family: "Open Sans",sans-serif
		font-weight: 400
		p
			margin: 0
			padding: 0
			line-height: 1.3
			min-height: 35px
			margin-bottom: 14px
		.calendar-date
			color: #6b8799 !important
		.fa-calendar
			color: #6b8799 !important

.page-name
	display: flex
	margin-left: 0
	margin-top: 15px
	h3
		display: block
		padding-right: 20px
		flex: auto
		font-size: 29px
	&:after
		content: ''
		display: block
		flex: 100
		border-bottom: 4px solid #dd163b
		transform: translateY(-24px)


aside
	.sidebar-block
		margin-top: 30px
		overflow: hidden
	.sidebar-header
		position: relative
		background-color: #313d46
		padding: 23px
		margin-bottom: 0
		z-index: 1
		font-size: 17px
		margin-top: 0
		> span
			display: inline-block;
			background-color: #313d46;
			padding-right: 23px;
		&:after
			content: ''
			position: absolute
			display: block
			top: 32px
			right: 1px
			left: 30px
			height: 3px
			background-color: #fff
			z-index: -1
	.sidebar-content
		background-color: #273138
		padding: 20px 23px
		border: 1px solid #313d46
		width: 100%
		.top-expert-tbl
			width: 100%
			th
				color: #fff
			.expert-link
				a
					color: #6b8799
					text-decoration: underline
			.expert-data
				i
					font-style: normal
		.item
			text-align: left
			overflow: hidden
			margin: 5px 0
			.expert-name
				a
					color: #6b8799
					text-decoration: underline
			.expert-procent
				float: right
		.btn-center-wrap
			text-align: center
			margin-top: 20px
		.book-bonus
			text-align: left
			overflow: hidden
			margin: 10px 0
			.bonus-img
				width: 100px
				height: auto
			.bonus
				color: #ef9e2b !important
	.match:nth-child(2n)
			background-color: #171e22
	.match
		a
			color: #fff
		.team-img-featurue
			max-width: 60px
			max-height: 60px
			text-align: center
			margin: 0 auto 10px
			display: block
		.team-name-featurue
			display: block
			margin: 0 auto
		.team-1-wrap
			text-align: center
			width: 100px
		.vs
			text-align: center
			.match-time
				font-size: 13px
			span
				display: block
		.team-2-wrap
			text-align: center
			width: 100px
	.stream
		
		.stram-img-wrapper
			position: relative
			display: block
			color: #fff
			&:hover .fa-play, &:hover .stream-info-wrapper
				opacity: 1
			img
				width: 100%
				height: auto
			.fa-play
				position: absolute
				opacity: 0.3
				top: 50%
				left: 50%
				width: 60px
				height: 60px
				transform: translate(-50%,-50%)
				border: 4px solid #fff
				border-radius: 50%
				font-size: 25px
				text-align: center
				padding-left: 5px
				transition: all .25s ease
				&:before
					text-align: center
					line-height: 55px
		.stream-info-wrapper
			overflow: hidden
			position: absolute
			bottom: 10px
			left: 0
			width: 100%
			padding: 0 10px
			opacity: 0.3
			transition: all .25s ease
			.stream-from
				font-size: 15px
				color: #fff
				float: left
			.viewers
				font-size: 15px
				color: #fff
				float: right
.vs
	img
		width: 50px
		height: auto
.main-section
	margin-top: 30px
.book-list
	background-color: rgba(49, 61, 70, 0.7)
	color: #fff
	padding: 30px
	margin-bottom: 30px
	width: 100%
	.book-left-wrapper
		width: 40%
		text-align: left
		img
			display: block
			margin-bottom: 10px
	.book-bonus
		text-align: left
		color: #ef9e2b
		font-weight: bold
		vertical-align: middle
	.book-reit
		width: 10%
		vertical-align: middle
	.book-right-wrapper
		vertical-align: middle
		text-align: right

.btn-watch,.btn-reg
	color: #38a220
	padding-top: 8px
	padding-bottom: 8px
	border: solid 1px #266f16
	border-radius: 0px
	margin: 0 2px
	&:hover, &:active, &:focus
		color: #297718
		border-color: #1e5511
.btn-reg
	color: #ef9e2b
	border-color: #cd7f0f
	&:hover, &:active, &:focus
		color: #b07521
		border-color: #7d4e0b
.nk-decorated-h
	display: flex
	.text-main-1
		color: #fff !important
		font-size: 22px
	span
		display: block
		-ms-flex: auto
		flex: auto
		padding-right: 20px
		padding-left: 20px
	&:before
		content: ''
		display: block
		min-width: 20px
		width: 20px
		flex: 20px
		border-bottom: 2px solid #dd163b
		transform: translateY(-10px)
	&:after
		content: ''
		display: block
		-ms-flex: 100
		flex: 100
		border-bottom: 2px solid #dd163b
		-ms-transform: translateY(-10px)
		transform: translateY(-10px)
		
.vantage
	overflow: hidden
	.tbl-row
		display: table
		width: 100%
		.td-wrap
			padding: 10px
			display: table-cell
			width: 33%
			text-align: center
			div
				color: #fff
				border: 1px solid #b07521
				padding: 20px 10px
				i
					display: block
					width: 40px
					margin: 0 auto
					font-size: 40px
					color: #b07521
					margin-bottom: 10px

.single-book
	.book-list
		background-color: rgba(0, 0, 0, 0.4)
		.book-left-wrapper 
			img
				margin: 0
	.btn-reg
		color: #ff9600
		border-color: #ff9600
		padding: 10px 25px
		letter-spacing: 1.5px
		&:hover, &:active, &:focus
			color: #ff9600
			border-color: #ff9600

	.book-review
		.reg-wrap
			text-align: center
			margin: 20px 0
			a
				display: inline-block
				outline: none
	.single-book-wrap
		margin-bottom: 70px

.payment-wrap
	img
		display: inline-block
		padding: 20px

.betsinfo
	.betsinfo-wrapper
		border: 1px solid #ff9600
		margin-bottom: 30px
	.betsinfo-header
		background-color: #ff9600
		padding: 20px
		color: #000
		margin: 0
	.descr-wrapper
		background-color: #273138
		padding: 20px
		p
			margin: 0
.box-stream-wrapper
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 200px
	background-size: 100% 100%
	border: 1px solid #313d46
	margin-bottom: 30px
	.box-stream-overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(85deg, #1f1f1f 0, rgba(0, 0, 0, 0.8) 54%, transparent 100%)
		&:hover
			background: linear-gradient(45deg,rgba(31,31,31,1) 0,rgba(0,0,0,0.6) 33%,rgba(0,0,0,0) 100%)
		.box-stream-content
			position: absolute
			padding: 5px 20px
			bottom: 0
			margin-bottom: 0
			width: 100%
			span
				display: block
			.platform,.viewers, .language
				font-size: 12px
				color: #999
			.language
				font-weight: bold
				float: left
			.channel
				font-size: 18px
				color: #fff
			.viewers
				float: right
				color: #fff

.table
	border: 1px solid #313d46
	&.vam
		width: 100%
		text-align: center
		thead
			background-color: #313d46
			font-size: 14px
			color: #fff
			border-bottom: none
			th
				padding: 23px 10px
				font-weight: 400
				border-bottom: none
		tbody
			background-color: #273138
			tr
				border: 1px solid #313d46
				&:hover
					background-color: #2f4245
				td
					padding: 10px
					font-weight: 400
					border:none !important
					vertical-align: middle
					img
						position: relative
						top: -2px
						margin-right: 5px
	.team
		min-width: 200px

.teamlogosm h4 
    font-size: 11px


.match-sect
	.match-sect-wrapper
		margin: 30px 0
	.match-sect-item
		background-color: #273138
		padding: 20px 0px 0px
		border: 1px solid #313d46
		width: 100%
		overflow: hidden
		a
			&.match-info
				width: 70%
				float: left
				border-right: 1px solid #313d46
			&:hover, &:focus, &:active
				color: #fff
			span
			text-transform: uppercase
		&.item-dark
			background-color: #171e22
		.match-bets
			width: 100%
			float: left
			border-top: 1px solid #313d46
			padding: 10px 20px 
			margin-top: 10px
			overflow: hidden
			.btn-watch
				float: right
			span
				width: 70%
				float: left
				text-align: center
				
		.tournament-img
			float: right
			width: 30%
			padding:  0 10px
			img
				width: 100%
				height: auto
		.team-1-wrap
			width: 40%
			text-align: left
			span
				display: block
				text-align: center
		.vs
			width: 20%
			text-align: center
			span
				display: block
				text-transform: none
		.team-2-wrap
			width: 40%
			text-align: right
			span
				display: block
				text-align: center
.match-coff
	background-color: #171e22
	padding: 30px 20px
	border: 1px solid #313d46
	width: 100%
.single-match
	.match-sect-item
		padding-bottom: 20px
		border-bottom: none	
.booker-avatar
	display: block
	text-align: center
	img
		width: 60px
		height: auto
.match-coff-detail
	color: #fff
	text-align: center
.coff-detail-numbers
	margin: 0 15px
.match-coff-item
	margin: 10px 0
	.btn-watch
		padding: 4px 25px

.match-prognoz-header
	background-color: #273138
	padding: 20px
	border: 1px solid #313d46
	width: 100%
	overflow: hidden

.single-match-prognoz
	margin-bottom: 30px
	.bookmeker-box
		width: 20%
		vertical-align: middle
		img
			width: 100%
			height: auto
	.koff-box
		width: 50%
		text-align: center
		font-size: 18px
		color: #297718
		vertical-align: middle	
		span
			display: block
			i
				color: #fff
				font-style: normal
	.expert-box
		span
			display: block

.match-prognoz-content
	background-color: #171e22
	border: 1px solid #313d46
	padding-top: 40px
	width: 100%
	border-top: none
	max-height: 0
	overflow: hidden
	position: relative
	transition: all .25s ease
	.text-white
		padding: 20px
	.fa-arrow-down
		display: inline-block
	.fa-arrow-up
		display: none
	&.active
		transition: all .25s ease
		max-height: 10000px
		.fa-arrow-up
			display: inline-block
		.fa-arrow-down
			display: none
	.read-more
		position: absolute
		display: inline-block
		left: 50%
		top: 10px
		transform: translateX(-50%)
		cursor: pointer
		z-index: 10
	
.dotabuff
	display: inline-block
	text-align: center
	color: #fff
	text-transform: uppercase
	background-color: #ff0000
	padding: 5px
	&:hover
		color: #fff