body {
  font-size: 14px;
  min-width: 320px;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
  position: relative;
  line-height: 1.7;
  overflow-x: hidden;
  letter-spacing: .015em;
  color: #6b8799;
  background-color: #171e22; }

.h1, h1 {
  font-size: 42px; }

.h2, h2 {
  font-size: 33px; }

.h3, h3 {
  font-size: 25px; }

.h4, h4 {
  font-size: 19px; }

.h5, h5 {
  font-size: 15px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-bottom: 20px; }

.display-1, .display-2, .display-3, .display-4, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

p {
  margin-bottom: 21px;
  margin-top: 0px; }
  p .lead {
    font-size: 18px;
    font-weight: 300; }
  p .text-white {
    color: #fff !important; }

strong {
  font-weight: bold; }

.nk-page-background-bottom, .nk-page-background-fixed, .nk-page-background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  pointer-events: none;
  z-index: -1; }

.nk-page-background-bottom {
  top: auto;
  bottom: 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #dd163b; }
  a:active {
    text-decoration: none;
    color: #dd163b; }
  a:focus {
    text-decoration: none;
    color: #dd163b; }

.text-main-1 {
  color: #dd163b !important; }

textarea {
  resize: vertical; }

.btn-color-white {
  background-color: #fff; }

.btn-color-white, .btn-color-white.active, .btn-color-white.hover, .btn-color-white:active, .btn-color-white:focus, .btn-color-white:hover {
  color: #171e22; }

.mt20 {
  margin-top: 20px; }

.text-area-contact {
  margin: 0;
  height: 100px;
  min-height: 100px; }

.copyright {
  margin-top: 40px; }

.fa-paper-plane-o {
  margin-left: 5px; }

.main-wrapper {
  padding-top: 120px; }

.btn-gray {
  display: inline-block;
  color: #fff;
  padding: 9px 19px;
  font-size: .87rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #5b7182;
  margin: 0 auto; }
  .btn-gray:hover, .btn-gray:active {
    color: #fff; }
